/*Font Import*/
@import url('https://fonts.googleapis.com/css?family=Lato|Lora|Belgrano&display=swap');
/*Font Import*/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}
/*NavBar Start*/
#nav-section {
    background-color: white;
    width: 100%;
    height: auto;
}

#nav-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    text-decoration: none;
    color: black;
    font-family: 'Belgrano', sans-serif;
    font-size: 5vw;
}

#nav-links-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    height: 5vw;
    font-family: 'Lato', sans-serif;
    background-color: white;
    width: 100%;
    margin-top: 2vw;
    margin-bottom: -1vw;
}

.nav-links {
    text-decoration: none;
    color: white;
    margin-right: 2vw;
    font-size: 2.5vw;
}

.nav-links:hover {
    transition: all 0.5s;
    opacity: 0.5;
}
#navbar-dropdown-section-main {
    width: 100%;
    height: 150px;
    z-index: 10;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;
}
#navbar-dropdown-section-wedding-rings {
    width: 100px;
}
.navbar-dropdown-wedding-rings-womens-links {
	text-decoration: none;
    color: black;
    font-size: 1.5vw;
    font-family: 'Lato', sans-serif;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
    align-content: center;
    margin-top: 1vw;
}


.navbar-dropdown-wedding-rings-womens-links:hover {
    transition: all 0.5s;
    opacity: 0.5;
}
#navbar-dropdown-section-engagement-rings { 
    width: 100px;
}
.navbar-dropdown-engagement-rings-womens-links {
	text-decoration: none;
    color: black;
    font-size: 1.5vw;
    font-family: 'Lato', sans-serif;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
    align-content: center;
    margin-top: 1vw;

}


.navbar-dropdown-engagement-rings-womens-links:hover {
    transition: all 0.5s;
    opacity: 0.5;
}
@media screen and (max-width: 1500px) {
#nav-logo {
    font-size: 3vw;
}
.nav-links {
    font-size: 1.5vw;
}
}
@media screen and (max-width: 750px) {
    #nav-logo {
        font-size: 5vw;
    }
    .nav-links {
        font-size: 2vw;
    }
    }
/*NavBar End*/
/*--------------------------*/
/*--------------------------*/
/*Landing Area Start*/
.landing-section {
    width: 100%;
    height: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#landing-image {
    width: 100%;
    height: 50vw;
}

/*Landing Area End*/
/*Mini Product Menu Start*/
#mini-product-menu-logo-section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
}

#mini-product-menu-logo {
    font-family: 'Lato', sans-serif;
    font-size: 2.5vw;
}

#mini-product-menu {
    width: 100%;
    height: 15vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: -25px;
}

.mini-product-link {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 1.5vw;
}

.mini-product-link:hover {
    transition: all 0.5s;
    opacity: 0.5;
}

.mini-product-menu-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-right: 25px;
    font-family: 'Lato', sans-serif;
    font-size: 2vw;
    margin-top: 7.5vw;

}

.mini-product-menu-img {
    width: 7.5vw;
    height: 7.5vw;
}

.mini-product-menu-item-text {
    font-family: 'Lato';
    font-size: 1.5vw;
}

/*Mini Product Menu End*/
/*==============================*/
/*Main Ad Section*/
.main-ad-section {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
    align-content: center;
    width: 100%;
    height: 100vh;
}
.main-ad-body {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
    align-content: center;
    width: 30vw;
    text-align: center;
}
.main-ad-img {
width: 25vw;
height: 25vw;
}
.main-ad-link-body {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
    align-content: center;

}
.main-ad-description {
    font-family: 'Lato', sans-serif;
    font-size: 2vw;
    margin-right: 1vw;
}
/*Main Ad Section End*/
/*==============================*/
/*Overview Section Start*/
.overview-section {
    width: 100%;
    height: 50vw;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.overview-header {
    color: black;
    font-family: 'Lato', sans-serif;
    font-size: 3.5vw;
}
.overview-section-items {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
    align-content: center;
    width: 100%;
    
}
.overview-item {
    width: 25vw;
    height: 25vw;
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
    align-content: center;
    text-align: center;
}

.overview-item-description {
    font-family: 'Lato', sans-serif;
    font-size: 2vw; 
    width: 20vw;

}
.overview-item-img {
    width: 7.5vw;
    height: 7.5vw;
}

/*Overview Section End*/
/*==============================*/
/*==============================*/